@media (max-width: 600px) {
  main .welcome {
    transition: margin-right 0.5s;
  }

  /* Záhlaví */
  header {
    position: relative;
  }
  /* Navigace */
  header nav {
    position: fixed;
    top: 70px;
    right: 0;
    width: 0;
    height: 100%;
    z-index: 1;
    background-color: var(--header-background);
    margin-right: 0;
    transition: 0.5s;
    overflow: hidden;
  }
  header nav ul li {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  /* Ikona */
  header .menu-icon {
    display: block;
    color: var(--navigation-text);
    font-size: 24px;
    cursor: pointer;
  }
}

/* Zobrazení hlavní navigace na desktopu */
@media (min-width: 600px) {
  header nav {
    width: 250px !important;
  }
}
